   html{
         scroll-behavior: smooth;
         font-family: 'Roboto', sans-serif;
   }
   header{
         background-image: url("../img/header.png");
         height:400px;
         background-position: center top;
   }
  header img{
      max-height:55px;
   }
h1,h2,h3{
      font-family: 'Sacramento', cursive;
}
header nav{
      position: relative;
      top:-100px;
      
}
nav ul li{
            width: fit-content;
            display: inline-block;
            
            font-size: larger;  
            background-color: rgb(249, 189, 189);
            border-radius: 10px;
            margin-right:5px;
            margin-left: 5px;


      }
      nav ul li a{
      
      display: block;           
      color:#904d4e;
      padding:10px;
      text-align: center;
      text-decoration: none;
      
      letter-spacing: 3px;
      
}
nav ul li a:hover{   
    transition: 1s;
    
}
h1{
      font-size: 70px;
      height: 75px;
}
h2{
      font-size: 50px;
      color: white;
}
#MasVendidos h2{
      padding-top: 5px;
      color:black;

}
section:nth-child(1){
      background-color: #c4383a;
      background-image:url("../img/casas.png") ;
      background-repeat: no-repeat;
      background-position: bottom right;
     background-size: 300px;
}

h2 img{
      max-height: 50px;
}


section:nth-child(2){
      background-image: url("../img/luces.jpg");
      background-repeat:none;
      height:200px;
      background-size: cover;
      background-attachment: fixed;
      background-position: center top;
}
section:nth-child(4){

      background-image: url("../img/globos.jpg");
      background-repeat:none;
      height:200px;
      background-size: cover;
      background-attachment: fixed;
      background-position: center top;
}

section:nth-child(5){
      background-color: rgb(249, 189, 189);
}

input:nth-child(2){
     border: none;
     text-align: center;     
}



input:nth-child(3){
      
      width: 150px;
      color : white;
      background-color: rgb(249, 189, 189);
      border: 1px solid white;
}

article img{
      width: 300px;
}
article p{
      color: white;
}




/*FOOTER*/
footer{
      background-color: #a96061;
      height: 70px;
}
#seguinos ul{
      text-align: center;
}

#seguinos ul li{
      width: 38px;
      height: 38px;
      background-image: url("../img/redes.png");
      background-repeat: no-repeat;
      display: inline-block;
      border-radius:50px
}

#facebook{
      background-position: 0 0;
     
      
}

#instagram{
      background-position: -0px -48px;
}

#twitter{
      background-position:  -0px -96px;
     
}

